@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800 &family=Roboto:wght@300;400;700;900&display=swap");:root {
    --dark-color: #03001c;
    --white-color: #ffffff;
    --primary-color: #23396c;
    --secondary-color: #919cb6;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.lembaga,
.outer-link,
.berita-utama {
    padding-top: 5vh;
}

.lembaga h1,
.outer-link h1,
.berita-utama h1 {
    text-align: center;
    font-weight: bolder;
    color: var(--primary-color);
    font-size: 2.2rem;
    margin: 20px 0;
}

.informasi h1,
.konten h1 {
    margin: 20px 0;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: var(--primary-color);
}

.informasi p {
    text-align: justify;
    font-size: 1.1rem;
}

.informasi a,
i {
    font-size: 1rem;
}

/* UTILITIES */
.main-header {
    background: var(--white-color);
}

.main-footer {
    background: var(--primary-color);
}

/* HEADER */
.navbar-brand img {
    max-width: 50px;
    margin-right: 20px;
}

.nav-item,
.dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    margin: 0 5px;
    font-size: 1rem;
}

.navbar li a.nav-link:hover {
    color: var(--primary-color);
}

/* SIDEBAR */
.sidebar {
    padding-left: 5vh;
}

.sidebar h2 {
    border-left: 5px solid var(--primary-color);
    padding-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
}

.sidebar a {
    text-decoration: none;
    padding-left: 20px;
    color: var(--dark-color);
    font-size: 1.1rem;
}

.sidebar a:hover {
    padding-left: 20px;
    color: var(--primary-color);
}

.banner {
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.banner-content {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;
}


.banner-content h1 {
    font-size: 1.2rem;
}

/* OUTER LINK */
.outer-link .format {
    text-align: center;
}

.outer-link .bingkai-format {
    width: 32vh;
    height: 24vh;
}

.outer-link a {
    font-size: 1.2rem;
    color: var(--dark-color);
}

/* LEMBAGA */
.lembaga .card {
    margin-top: 20px;
    max-width: 85vh;
    max-height: auto;
}

.lembaga .card .bingkai-lembaga {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.lembaga .card h2 {
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    padding: 10px 0;
}

.lembaga .card p {
    font-size: 1rem;
    text-align: center;
}

/* DOKUMEN */
.dokumen img.bingkai-format {
    width: 7vh;
    height: 7vh;
    margin-right: 20px;
}

/* BERITA-UTAMA */
.berita-utama a {
    text-decoration: none;
}

.berita-utama .card {
    max-width: 40vh;
    margin-top: 20px;
}

.berita-utama .card .bingkai-berita-utama {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.berita-utama .card h2 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 0;
    color: var(--primary-color);
}

.berita-utama .card h2:hover {
    color: var(--dark-color);
}

.berita-utama .card p {
    font-size: 0.9rem;
}

.berita-utama a.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.berita-utama a.btn:hover {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}

/* BERITA & PENGUMUMAN */
.konten .card {
    border: none;
    margin-bottom: 20px;
}

.konten img {
    max-width: 128vh;
    max-height: 50vh;
    object-fit: cover;
}

.konten h2 {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.konten .card-body {
    max-width: 115vh;
}

.konten .identitas h3 {
    font-size: 0.9rem;
    color: var(--dark-color);
}

.konten .isi p,
a {
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
    color: var(--dark-color);
}

.konten .isi a:hover {
    color: var(--primary-color);
}

.konten a.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.konten a.btn:hover {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}

.konten .bingkai-konten {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    padding: 20px 0;
}

/* FOOTER */
.main-footer img.logo-footer {
    max-width: 80px;
}

.main-footer h1 {
    font-size: 1.4rem;
    font-weight: bold;
}

.main-footer p {
    font-size: 0.9rem;
    color: var(--white-color);
}

.main-footer ul,
li a {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    text-decoration: none;
    color: var(--white-color);
    font-size: 0.9rem;
}

.main-footer a:hover {
    color: var(--secondary-color);
}

/* PENGELOLA */
.informasi .pengelola .bingkai-pengelola {
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.informasi .pengelola .btn-pengelola {
    width: 100%;
    text-align: left;
}
